// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Responsive
@mixin breakpoint($min: 0, $max: 0) {

	$query: "all" !default;

	@if $min != 0 and $max != 0 { 
		$query: "(min-width: #{$min}) and (max-width: #{$max})"; 
	}
	@else if $min != 0 and $max == 0 { 
		$query: "(min-width: #{$min})"; 
	}
	@else if $min == 0 and $max != 0 { 
		$query: "(max-width: #{$max})"; 
	}
	
	@media #{$query} { 
		@content;
	}
}
